.tehnologies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #333;
    color: #d6d8de;
}

.tehnologies-container::before {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 50vw 0 50vw;
    border-color: #656565 transparent transparent transparent;
}

.tehnologies-container::after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50vw 35px 50vw;
    border-color: transparent transparent #fff transparent;
}

.tehnologies-container-top {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding-top: 2rem;
}

.tehnologies-container-top .circle {
    display: inline-block;
    border-radius: 50%;
    padding: .8rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.2rem;
    background: #468cde;
}

.flex-vh-center {
    display: flex;
    align-items: center;
}

.tehnologies-container-top .container-box {
    width: 250px;
    padding: 1rem;
}

.tehnologies-container-bot {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 3rem 0;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.blue-color {
    color: #468cde;
}

.tehnologies-icons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

@media (max-width: 1200px) {
    .tehnologies-container-top {
        width: 800px;
    }
    .tehnologies-container-bot {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .tehnologies-container-top {
        width: 100%;
    }
    .tehnologies-container::before {
        border-width: 25px 50vw 0 50vw;

    }
    .tehnologies-container::after {
        border-width: 0 50vw 25px 50vw;
    }
}

@media (max-width: 899px) {
    .tehnologies-container-bot {
        flex-direction: column;
    }
    .tehnologies-icons {
        margin-top: 1rem;
        width: 80%;
    }
}

@media (max-width: 600px) {
    .tehnologies-container-top {
        flex-direction: column;
        align-items: center;
        background: url('.././Toolbar/img/logo-black.svg') no-repeat right/contain;
    }
}
