.showcase {
    background: #000;
    height: 700px;
    width: 100%;
    color: #d6d8de;
}

.showcase-img {
    background: url('./img/showcase3-min.png') no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.darken {
    height: 100%;
    width: 100%;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-name: show-bg;
}


  @keyframes show-bg {
    from {
        background: rgba(0, 0, 0, 1);
    }
  
    to {
        background: rgba(0, 0, 0, .25);
    }
  }

.container {
    display: flex;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
}

.showcase-text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1070px) {
    .showcase-img {
        background-size: contain;
    }
}

@media (max-width: 1000px) {
    .showcase-img {
        background: url('./img/showcase-mobile.png') no-repeat;
        background-size: cover;
        background-position: top center;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .showcase-text {
        font-size: 1.7rem;
        font-weight: bolder;
    }
}

@media (max-width: 460px) {
    .showcase-text {
        font-size: 1.3rem;
    }
}
