.showcase {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -200;
    color: #fff;
}

.showcase-img {
    background: url('./img/showcase3.png') no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 100%);    
    padding: 2rem;
    border-radius: .5rem;
    width: 100%;
    height: fit-content;
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 80%;
    }
}
