html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.slide-open {
    position: fixed;
    width: calc(100% + 260px);
    margin-left: 260px;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.slide-close {
    transition: 0.3s ease-out;
}

.slide-to-bottom {
    animation-name: show-down;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    will-change: transform;
}

@keyframes show-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 900px) {
    .slide-to-right {
        animation-name: show-right;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        will-change: transform;
    }

    .slide-to-left {
        animation-name: show-left;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        will-change: transform;
    }

    .slide-to-top {
        animation-name: show-up;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 0;
        will-change: transform;
    }
    
    @keyframes show-up {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes show-right {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes show-left {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media (max-width: 500px) {
    .slide-open {
        width: calc(100% + 70%);
        min-width: 260px;
        margin-left: calc(100% - 30%);
    }
}
